In [2]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime
import unicodedata

In [3]:
fecha = pd.read_csv('datasets/peliculas_por_estreno.csv', parse_dates = ['release_date'])
popularidad = pd.read_csv('datasets/peliculas_por_popularidad.csv')
votos = pd.read_csv('datasets/peliculas_por_votos.csv')
actores = pd.read_csv('datasets/peliculas_por_actor.csv')
directores = pd.read_csv('datasets/peliculas_por_director.csv', parse_dates=['release_date'])

In [ ]:
df_movies = pd.read_csv(r"C:\Users\romin\Documents\PROGRAMACION\CIENCIA DE DATOS\HENRY\LABS\PROYECTO INDIVIDUAL\PI 01 MLOps\df_movies_final.csv", parse_dates = ['release_date'])

In [ ]:
#df_credits = pd.read_csv(r"C:\Users\romin\Documents\PROGRAMACION\CIENCIA DE DATOS\HENRY\LABS\PROYECTO INDIVIDUAL\PI 01 MLOps\df_credits2_final.csv")

In [ ]:
#del df_credits['Unnamed: 0']

In [4]:
def trad_fechas(dato):
    diames_norm = unicodedata.normalize('NFD', dato)
    diames_norm = diames_norm.encode('ascii', 'ignore').decode('utf-8')
    diames_norm = diames_norm.lower()

    mapping = {
        'lunes': 'Monday',
        'martes': 'Tuesday',
        'miercoles': 'Wednesday',
        'jueves': 'Thursday',
        'viernes': 'Friday',
        'sabado': 'Saturday',
        'domingo': 'Sunday',
        'enero': 'January',
        'febrero': 'February',
        'marzo': 'March',
        'abril': 'April',
        'mayo': 'May',
        'junio': 'June',
        'julio': 'July',
        'agosto': 'August',
        'septiembre': 'September',
        'octubre': 'October',
        'noviembre': 'November',
        'diciembre': 'December',
    }

    return mapping.get(diames_norm, diames_norm)



CONSULTA 1
def cantidad_filmaciones_mes( Mes ): Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.

In [5]:
def cantidad_filmaciones_mes(mes:str):
    mes_num = datetime.strptime(trad_fechas(mes), "%B").month
    pel_mes = fecha[fecha['release_date'].dt.month == mes_num]
    cantidad = len(pel_mes)
    return ('{} películas fueron estrenadas en el mes de {}'.format(cantidad, mes))

In [6]:
cantidad_filmaciones_mes('enero')

'5912 películas fueron estrenadas en el mes de enero'



CONSULTA 2
def cantidad_filmaciones_dia( Dia ): Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en día consultado en la totalidad del dataset.

In [7]:
def cantidad_filmaciones_dia(dia:str):
    dia_tr = trad_fechas(dia)
    pel_dia = fecha[fecha['release_date'].dt.strftime('%A') == dia_tr] 
    cantidaddia = len(pel_dia)
    return ('{} películas fueron estrenadas en los días {}'.format(cantidaddia, dia))

In [8]:
cantidad_filmaciones_dia('miercoles')

'7035 películas fueron estrenadas en los días miercoles'



CONSULTA 3
def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.

In [11]:
def score_titulo(pelicula: str):
    filtro = popularidad['title'] == pelicula
    score = popularidad.loc[filtro, 'popularity'].values[0] if filtro.any() else None
    año = popularidad.loc[filtro, 'release_year'].values[0] if filtro.any() else None
    return ('La película {} fue estrenada en el año {} con un score de {}'.format(pelicula, año, round(score, 2)))

In [12]:
score_titulo('Avatar')

'La película Avatar fue estrenada en el año 2009 con un score de 185.07'




CONSULTA 4
def votos_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. La misma variable deberá de contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.

In [13]:
def votos_titulo(pelicula: str):
    filtro = (votos['title'] == pelicula) 
    df_filtrado = votos.loc[filtro].sort_values('vote_count', ascending=False)
    
    vote_count = df_filtrado.iloc[0]['vote_count']
    
    if vote_count < 2000:
        return 'La película {} no cuenta con puntajes suficientes.'.format(pelicula)
    
    total_votos = df_filtrado.iloc[0]['vote_count']
    promedio = df_filtrado.iloc[0]['vote_average']
    año = df_filtrado.iloc[0]['release_year']
    
    return ('La película {} fue estrenada en el año {}. La misma cuenta con un total de {} valoraciones, con un promedio de {}'.format(pelicula, año, total_votos, promedio))

In [14]:
votos_titulo('Wonder Woman')

'La película Wonder Woman fue estrenada en el año 2017. La misma cuenta con un total de 5025.0 valoraciones, con un promedio de 7.2'



CONSULTA 5
def get_actor( nombre_actor ): Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha participado y el promedio de retorno. La definición no deberá considerar directores.

In [17]:
def get_actor(actor: str):
    cantidad = actores['cast'].apply(lambda x: actor in x).sum()
    retorno = actores.loc[actores['cast'].apply(lambda x: actor in x), 'return'].sum()
    promedio = actores.loc[actores['cast'].apply(lambda x: actor in x), 'return'].mean()
    return ('El actor {} ha participado de {} de filmaciones, el mismo ha conseguido un retorno de {}, con un promedio de {} por filmación'. format(actor, cantidad, round(retorno,2), round(promedio,2)))

In [18]:
get_actor('Tom Hanks')

'El actor Tom Hanks ha participado de 71 de filmaciones, el mismo ha conseguido un retorno de 178.85, con un promedio de 2.52 por filmación'



CONSULTa 6
def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.

In [21]:
def get_director(nombre_director: str):
    df_filtrado = directores[directores['crew'].apply(lambda x: nombre_director in x)][['title', 'release_year', 'return', 'budget', 'revenue']]
    peliculas = df_filtrado['title']
    año = df_filtrado['release_year']
    retorno_pelicula = df_filtrado['return']
    budget_pelicula = df_filtrado['budget']
    revenue_pelicula = df_filtrado['revenue']
    retorno_total = df_filtrado['revenue'].sum()
    return {'director': nombre_director, 'retorno_total_director':retorno_total, 'peliculas':peliculas, 'anio': año, 'retorno_pelicula': retorno_pelicula, 'budget_pelicula': budget_pelicula, 'revenue_pelicula': revenue_pelicula}

In [22]:
get_director("Martin Scorsese")

{'director': 'Martin Scorsese',
 'retorno_total_director': 1990982842.0,
 'peliculas': 15                                                  Casino
 109                                            Taxi Driver
 407                                   The Age of Innocence
 1171                                            GoodFellas
 1186                                           Raging Bull
 1296                                             Cape Fear
 1648                                                Kundun
 1913                         The Last Temptation of Christ
 2361                                    The Color of Money
 2861                                 Bringing Out the Dead
 4500                                      New York Stories
 5143                                         Boxcar Bertha
 5253                                        The Last Waltz
 5822                                     Gangs of New York
 5867                                    The King of Comedy
 7270                                           After Hours
 7594                                          Mean Streets
 8033                                    My Voyage to Italy
 8117                       Alice Doesn't Live Here Anymore
 8119                        Who's That Knocking at My Door
 8780                                    New York, New York
 9546                                           The Aviator
 10427                         No Direction Home: Bob Dylan
 10865    A Personal Journey with Martin Scorsese Throug...
 11323                                         The Departed
 12529                                        Shine a Light
 14836                                       Shutter Island
 16764                                      Italianamerican
 16788                                      Public Speaking
 17580                                     A Letter to Elia
 17669            American Boy: A Profile of: Steven Prince
 17677                                        Street Scenes
 18097        George Harrison: Living in the Material World
 18098                                                 Hugo
 22120                              The Wolf of Wall Street
 25845                                        The Big Shave
 25846    What's a Nice Girl Like You Doing in a Place L...
 32619                                 The 50 Year Argument
 32848                The Key to Reserva (La clave Reserva)
 33330                                              Silence
 36249                                                  Bad
 Name: title, dtype: object,
 'anio': 15       1995
 109      1976
 407      1993
 1171     1990
 1186     1980
 1296     1991
 1648     1997
 1913     1988
 2361     1986
 2861     1999
 4500     1989
 5143     1972
 5253     1978
 5822     2002
 5867     1982
 7270     1985
 7594     1973
 8033     1999
 8117     1974
 8119     1967
 8780     1977
 9546     2004
 10427    2005
 10865    1995
 11323    2006
 12529    2008
 14836    2010
 16764    1974
 16788    2010
 17580    2010
 17669    1978
 17677    1970
 18097    2011
 18098    2011
 22120    2013
 25845    1968
 25846    1963
 32619    2014
 32848    2007
 33330    2016
 36249    1987
 Name: release_year, dtype: int64,
 'retorno_pelicula': 15        2.23
 109      21.74
 407       0.95
 1171      1.87
 1186      1.28
 1296      5.21
 1648      0.20
 1913      1.20
 2361      3.79
 2861      0.00
 4500      0.00
 5143      0.00
 5253      0.00
 5822      1.94
 5867      0.00
 7270      2.36
 7594      6.00
 8033      0.00
 8117      0.00
 8119      0.00
 8780      0.00
 9546      0.88
 10427     0.00
 10865     0.00
 11323     3.22
 12529     0.00
 14836     3.69
 16764     0.00
 16788     0.00
 17580     0.00
 17669     0.00
 17677     0.00
 18097     0.00
 18098     1.09
 22120     3.92
 25845     0.00
 25846     0.00
 32619     0.00
 32848     0.00
 33330     0.52
 36249     0.00
 Name: return, dtype: float64,
 'budget_pelicula': 15        52000000
 109        1300000
 407       34000000
 1171      25000000
 1186      18000000
 1296      35000000
 1648      28000000
 1913       7000000
 2361      13800000
 2861      32000000
 4500      15000000
 5143        600000
 5253             0
 5822     100000000
 5867      20000000
 7270       4500000
 7594        500000
 8033             0
 8117             0
 8119             0
 8780             0
 9546     116000000
 10427      2000000
 10865            0
 11323     90000000
 12529            0
 14836     80000000
 16764            0
 16788            0
 17580            0
 17669       155000
 17677            0
 18097            0
 18098    170000000
 22120    100000000
 25845            0
 25846            0
 32619            0
 32848            0
 33330     46000000
 36249      2000000
 Name: budget, dtype: int64,
 'revenue_pelicula': 15       116112375.0
 109       28262574.0
 407       32255440.0
 1171      46836394.0
 1186      23000000.0
 1296     182300000.0
 1648       5684789.0
 1913       8373585.0
 2361      52293982.0
 2861             0.0
 4500             0.0
 5143             0.0
 5253        321952.0
 5822     193772504.0
 5867             0.0
 7270      10609321.0
 7594       3000000.0
 8033             0.0
 8117             0.0
 8119             0.0
 8780             0.0
 9546     102000000.0
 10427            0.0
 10865            0.0
 11323    289847354.0
 12529            0.0
 14836    294804195.0
 16764            0.0
 16788            0.0
 17580            0.0
 17669            0.0
 17677            0.0
 18097            0.0
 18098    185770160.0
 22120    392000694.0
 25845            0.0
 25846            0.0
 32619            0.0
 32848            0.0
 33330     23737523.0
 36249            0.0
 Name: revenue, dtype: float64}